{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {{ request.user.id|json_script:"user_id" }}
    {{ request.user.username|json_script:"user_username" }}
    <div class="row compose-row">
        <div class="col-md-4"></div>
        <div id="compose-view" class="col-md-4 compose-view border">
            <div>
                {% if user.is_authenticated %}
                {{ "True"|json_script:"loggedIn" }}
                <form id="compose-post">
                    <textarea required class="form-control" id="post-body" placeholder="Got something to say?"></textarea>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-success float-right"/>
                </form>
                {% else %}
                {{ "False"|json_script:"loggedIn" }}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div id="">
        <div class="row">
            <div class="col-md-4" id="profile-side">
                {% if user.is_authenticated == False %}
                <div class="form-card-home">
                    {% if message %}
                        <div><p>{{ message }}</p></div>
                    {% endif %}
                        <h2>Login</h2>
                        <hr>
                        <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <input class="btn btn-success" type="submit" value="Login">
                        </form>
                        <hr>
                        <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4" id="all-view"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}