{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{{ request.user.id|json_script:"user_id" }}
{% if username %}
    <div id="profile-header">
        <h3>{{ username }}</h3>
        <p>{{ followers }}</p>
        <p>{{ following }}</p>
    </div>
    {% if user_posts %}
        <div class="profile-posts">
            {% for post in user_posts %}
                <p class="border">{{ post.content }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

{% endblock %}
{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}