{% extends "auctions/layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
    <h2>New Listing</h2>
    </div>
    <div class="col-md-2">

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4"></div>
        <div class="text-center border rounded shadow white col-md-4 p-4">
            {% if message %}
                {{ message }}
            {% endif %}
            <div class="create-container">
            <form action="{% url 'createListing' %}" method="POST">
                {% csrf_token %}
                {{ form.as_div }}
                <input class="btn btn-success" type="submit" value="Create">
            </form>
            </div>
        </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}