{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row my-3 mx-2">
        <div class="col-md-2 mx-2">
            <h2>Active Listings</h2>
        </div>
    </div>
    <div class="row my-3 mx-2">
        <div class="col-md-2 mx-2 d-flex flex-wrap align-items-center">
            <div><h5>Select a Category</h5></div>
            <form action="{% url 'categorySelect' %}" method="POST">
                {% csrf_token %}
                <select name="category" id="category">
                    <option value="all">All Listings</option>
                    {% for category in categories %}
                        {% if category|slugify == selectedCategory|slugify %}
                            <option value="{{ category }}" selected="selected">{{ category }}</option>
                        {% else %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input class="btn btn-success" type="submit" value="Go!">
            </form>
        </div>
    </div>
    <div class="row mx-2">
        {% for listing in currentListings %}
            <div class="col-md-2 py-3">
                <div class="listingcard white border shadow">
                    <div class="img-container  d-flex align-items-center">
                        {% if listing.imageURL %}
                            <img class="img-fluidy" src="{{ listing.imageURL }}" alt="{{ listing.title }}">
                        {% else %}
                            <img class="img-fluidy" src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=" alt="{{ listing.title }}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <div class="text-container my-3">
                            <p class="card-text ellipsis">{{ listing.description }}</p>
                        </div>
                        <h6>Current Price: £{{ listing.price }}</h6>
                        <a href="{% url 'viewListing' id=listing.id %}" class="my-1 btn btn-success">View Listing</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}