{% extends "auctions/layout.html" %}

{% block body %}
    <div class="rounded shadow border white row mx-5 my-4 py-4">
        <div class="col-md-1"></div>
        <div class="listing-img col-md-5">
            <div class="list-img-container d-flex align-items-center">
                {% if listing.imageURL %}
                <img class="img-fluidy" src="{{ listing.imageURL }}" alt="{{ listing.title }}">
                {% else %}
                <img class="img-fluidy" src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=" alt="{{ listing.title }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-5">
            <div class="listing-top">
                <h2>{{ listing.title }}</h2>
                {% if isOwner %}
                    <P>Being sold by <strong>You</strong></P>
                    {% if isOwner %}
                        {% if isActive %}
                            <a href="{% url 'closeAuction' id=listing.id %}" class="btn btn-danger">Close Auction</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <P>Being sold by <strong>{{ listing.owner }}</strong></P>
                {% endif %}
                <hr>
                <div class="content-container">
                    <p class="card-text">{{ listing.description }}</p>
                </div>
            </div>
            <div class="listing-bottom">
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h6>Current Price: £{{ listing.price }}</h6>
                            {% if isActive %}
                                {% if highestBidder and isOwner == False %}
                                    <p>You are the current highest bidder!</p>
                                {% endif %}
                                {% if isOwner == False %}
                                    {% if user.is_authenticated %}
                                        <form action="{% url 'addBid' id=listing.id %}" method="POST" class="d-flex align-items-center">
                                            {% csrf_token %}
                                            {{ bidForm }}
                                            <input type="submit" class="btn btn-success mx-2" value="Bid">
                                        </form>
                                    {% endif %}
                                {% endif %}
                                {% if message %}
                                    {% if message == "Bid Success!" %}
                                        <div class="message-success">
                                            <P>{{ message }}</P>
                                        </div>
                                    {% else %}
                                        <div class="message-failed">
                                            <P>{{ message }}</P>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if isOwner %}
                                    {% if highestBidder %}
                                        <div class="message-failed">
                                            <p>Your item has not sold.</p>
                                        </div>
                                    {% else %}
                                        <div class="message-success">
                                            <p>Congratulations, your item has sold!</p>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if highestBidder %}
                                        <div class="message-success">
                                            <p>Congratulations, You won the item!</p>
                                        </div>
                                    {% else %}
                                        <div class="message-failed">
                                            <p>You did not win this item.</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        {% if isOwner == False %}
                            {% if user.is_authenticated %}
                                {% if isWatching %}
                                    <a href="{% url 'removeFromWatchlist' id=listing.id %}" class="btn btn-danger">Remove from Watchlist</a>
                                {% else %}
                                    <a href="{% url 'addToWatchlist' id=listing.id %}" class="btn btn-success">Add to Watchlist</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row mx-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 border rounded shadow white">
            <h3 class="my-3">Commetns</h3>
            <hr>
            {% if comments %}
                {% for comment in comments %}
                            <div class="comment">
                                <p class="comment-text">{{ comment.comment }} - <strong>{{ comment.user }}</strong>{% if comment.user == listing.owner %} <em>(Seller)</em>{% endif %}</p>
                                <p class="comment-date"> - {{ comment.created_at }}</p>
                                <hr>
                            </div>
                {% endfor %}
            {% else %}
            <div class="comment">
                <p>Be the first to leave a comment!</p>
                <hr>
            </div>
            {% endif %}
        </div>
        <div class="col-md-5 text-right">
            {% if user.is_authenticated %}
            <form action="{% url 'addComment' id=listing.id %}" method="POST">
                {% csrf_token %}
                {{ commentForm.as_div }}
                <input type="submit" class="btn btn-success">
            </form>
            {% endif %}
        </div>
    </div>
        
{% endblock %}




