{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row my-3">
        <div class="col-md-4 mx-2">
            <h2>Watched Listings</h2>
        </div>
    </div>
    {% if watchedListings %}
    <div class="row mx-2">
        {% for listing in watchedListings %}
            <div class="col-md-2 py-3">
                <div class="listingcard white border border-1 shadow">
                    <div class="img-container d-flex align-items-center">
                        {% if listing.imageURL %}
                            <img class="img-fluidy" src="{{ listing.imageURL }}" alt="{{ listing.title }}">
                        {% else %}
                            <img class="img-fluidy" src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=" alt="{{ listing.title }}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <div class="text-container my-3">
                            <p class="card-text ellipsis">{{ listing.description }}</p>
                        </div>
                        <h6>Current Price: £{{ listing.price }}</h6>
                        <a href="{% url 'viewListing' id=listing.id %}" class="my-1 btn btn-success">View Listing</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row mx-2">
        <p>You have no watched listings.</p>
    </div>
    {% endif %}
{% endblock %}