{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row my-3">
        <div class="col-md-4 mx-2">
            <h2>Watched Listings</h2>
        </div>
    </div>
    {% if watchedListings %}
    <div class="row mx-2">
        {% for listing in watchedListings %}
            <div class="col-md-2">
                <div class="listingcard border border-1 shadow">
                    <div class="img-container  d-flex align-items-center">
                        <img class="img-fluidy" src="{{ listing.imageURL }}" alt="{{ listing.title }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <div class="text-container my-3">
                            <p class="card-text ellipsis">{{ listing.description }}</p>
                        </div>
                        <h6>Current Price: £{{ listing.price }}</h6>
                        <a href="{% url 'viewListing' id=listing.id %}" class="my-1 btn btn-success">View Listing</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}