{% extends "volunteercenter/layout.html" %} {% load static %} {% block body %}
{{ request.user.id|json_script:"user_id" }}
<div class="d-none" id="main-view">
    <div id="main">
        <div class="row client-row no-margin" id="">
            <div class="col-md-3" id="client-details"></div>
            <div class="col-md-6" id="client-orders"></div>
            <div class="col-md-6 fade-in" id="order-details"></div>
            <div class="col-md-3 fade-in" id="info-pannel">
                <div class="info-pannel mb-3">
                    <h3 class="text-center">Instructions</h3>
                    <hr />
                    <div class="container">
                        <p>Here, you can view all of your orders.</p>
                        <br />
                        <p class="green">Accepted Orders are Green.</p>
                        <p class="grey">Fulfilled Orders are Grey.</p>
                        <p class="purple">New Orders are Purple.</p>
                        <p class="yellow">Processing orders are Yellow.</p>
                        <br />
                        <p>
                            When viewing an order, you can edit or delete the
                            order.
                        </p>
                        <br />
                        <p>
                            You can also edit your details if they need
                            updating.
                        </p>
                        <br />
                        <p>
                            On any order view, you can download a PDF of the
                            order to print.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'volunteercenter/client.js' %}"></script>
{% endblock %}
