body {
    background-color: #179d36a6;
    color: white;
}

a {
    color: #009923;
}

a:hover {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: rgb(60, 150, 40);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
    color: white;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar a {
    color: white !important; 
}

.nav-link {
    cursor: pointer;
}

.compose-row {
    margin-top: 30px;
}

.compose-view {
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
    background-color: white;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#all-view {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.post-view {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.25);
    background-color: white;
    color: black;
}

.heart-like-button {
    position: relative;
    width: 40px;
    height: 30px;
  }
.heart-like-button:before {
    position: absolute;
    top: 0;
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 20px;
    height: 31px;
    border-radius: 40px 40px 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
    width: 20px;
    height: 31px;
    border-radius: 40px 40px 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .heart-like-button.liked::before,
.heart-like-button.liked::after {
  background-color: #d65076;
}
.heart-like-button.liked {
  animation: liked .4s ease;
}
@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.edit-img{
    height: 20px;
    width: auto;
    cursor: pointer;
}

#post_edit {
    width: 100%;
}

.profile-box {
    background-color: white;
    border-radius: 1rem;
    padding: 20px 0;
    height: auto;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 10vh;
    color: black;
}

.pagination-view {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    margin-top: 20px;
    float: right;
}

.form-card {
    top: 25vh;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
    background-color: white;
    color: black;
}

.form-card-home {
    width: 80%;
    position: sticky;
    margin-top: 8vh;
    top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
    background-color: white;
    color: black;
}

.img-fluidy {
    width: 75%;
    height: auto;
    border-radius: 1.0rem;
    margin-bottom: 20px;
}